.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  h1,
  h2,
  h3,
  h4 {
    margin: 3%;
    font-family: "Sary Soft Regular", sans-serif;
  }

  .text-script {
    font-family: "Damion", cursive;
    color: #23a2cb;
    font-size: 2rem;
  }

  .main-container {
    display: flex;
    margin-left: 100px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    justify-content: center;
  }

  article > img {
    width: 30%;
  }

  .imei > article {
    border-bottom: 2px solid #e7ad01;
  }

  .imei > figure {
    padding: 1%;
    background-color: #e7ad01;
  }

  .model > article {
    border-bottom: 2px solid #23a2cb;
  }

  .model > figure {
    padding: 1%;
    background-color: #23a2cb;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10%;

    button {
      width: 10rem;
      height: 3.5rem;
      flex-shrink: 0;
      border-radius: 2rem;
      border: 3px solid #e26d7d;
    }
  }
}
