img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profil-container form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
}

.profil-container {
  font-family: "Sary Soft Regular", sans-serif;
}
