.profilCard {
  background-color: lightgray;
  border-radius: 20px;
  height: 30vh;
  width: 18vh;
  margin: 11px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profilCard img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-bottom: 25px;
}
